/* RESET STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: "Merriweather", serif;
}

/* STYLES */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.placement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 400px;
}

.placement-grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.cpu-board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.placement-grid-square {
  width: 10%;
  height: 10%;
  border: 1px solid grey;
  position: relative;
  overflow: visible;
}

.ships-container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-top: 62px;
}

.draggable {
  max-width: 100vw;
}

.ship-placement {
  position: relative;
}

.battleship-rotated {
  left: -98px;
  top: 100px;
  position: absolute;
}

.cruiser-rotated {
  left: -59px;
  top: 62px;
  position: absolute;
}

.destroyer-rotated {
  left: -38px;
  top: 41px;
  position: absolute;
}

.frigate-rotated {
  left: -18px;
  top: 20px;
  position: absolute;
}

.hit-empty {
  background-color: black;
}

.hit-occupied {
  background-color: rgba(255, 0, 0, 0.5);
}
